<header class="main-header">
    <h1 class="masthead">Simple Blogs</h1>
    <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/blogs">Blogs</a>
        <a href="/blogs/newblog">Add Blog</a>
        <a href="/users/userauth">Login/Register</a>
    </nav>
</header>