<form action="/blogs" method="POST" class="blog-create-form">
    <label for="blogtitle">Title:</label>
    <input type="text" id="blogtitle" name="title">
    <label for="blogcontent">Content</label>
    <textarea name="content" id="blogcontent" cols="30" rows="10">
    </textarea>
    <input type="submit" value="create blog">
</form>