<form action="/users/register" class="user-auth-form" method="POST">
    <h3 class="form-title">Register User</h3>
    <label for="useremail">Email:</label>
    <input type="email" id="useremail" name="email">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password">
    <input type="submit" value="Create User">
</form>

<form action="#" class="user-auth-form" id="login-form" method="POST">
    <h3 class="form-title">Login</h3>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
</form>